# Get torch from teh nightly builds
torch --index-url https://download.pytorch.org/whl/nightly/cpu
# torch>=1.9.0

numpy
psutil

mpi4py
hf_net
xcodec2
espeak
sacrebleu
timm
sacremoses
tesseract

Unidecode